.btn-entrar {
    position: absolute;
    top: 10px;
    right: 40px;
    height: 50px;
    font-size: 15px;
    display: inline-block;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px; /* Espaçamento entre as letras */
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 30px; 
    margin-left: 20px;
  }
  
  .btn-entrar:hover {
    background-color: #838181; /* Cor de fundo escura ao passar o mouse */
    color: #fff; /* Cor do texto clara ao passar o mouse */
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  .fade-out {
    opacity: 1;
    animation: fadeOut 0.5s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .square {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 105px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
    margin-left: 20px;
  }
  
  .square-text {
    letter-spacing: 4px;
    font-size: 18px;
    color: #000000;
  }